/Time-LLM/checkpoints/
/Time-LLM/dataset/
/Time-LLM/slurm-*
/Time-LLM-BERT/checkpoints/
/Time-LLM-BERT/dataset/
/Time-LLM-BERT/slurm-*
/Time-LLM-BERT/data/
/Time-LLM-new/checkpoints/
/Time-LLM-new/dataset/
/Time-LLM-new/slurm-*
/CALF/slurm-*
/CALF/checkpoints/
/CALF/datasets/
/CALF/data/
/CALF_copy/slurm-*
/CALF_copy/datasets/
/CALF_copy/checkpoints/
/new_CALF/slurm-*
/new_CALF/checkpoints/
/new_CALF/data/
/new_CALF/datasets/
/llm4ir/slurm-*
/S2IP-LLM/slurm-*
/S2IP-LLM/Irregular_Classification/checkpoints
/S2IP-LLM/Irregular_Classification/data
/S2IP-LLM/Irregular_Classification/results
/S2IP-LLM/Regular_Classification/checkpoints
/S2IP-LLM/Regular_Classification/data
/moment/checkpoints/
/moment/data/
/moment/slurm-*
/mTAN/src/data/
/mTAN/slurm-*
/mTAN/src/*.h5
/mTAND/data/
/mTAND/slurm-*
/mTAND/*.pt
/raindrop/data/
/raindrop/slurm-*
/raindrop/models/
/UniTS/checkpoints/
/UniTS/data/
/UniTS/slurm-*
/ViTST/ckpt/
/ViTST/dataset/
/ViTST/slurm-*
/Warpformer/data/
/Warpformer/dataPersonActivity
/Warpformer/save/
/Warpformer/slurm-*
/FSCA/Classification/datasets/
/FSCA/Classification/experiments/
/FSCA/Classification/Classification_records.xls
/FSCA/slurm-*
/TimeCMA/unknown-0.0-0.tar.bz2
/TimeCMA/slurm-*
/TimeCMA/Embeddings
/AutoTimes/slurm-*
/new/checkpoints/
/new/data/
/new/datasets/
/new/results/
/new/slurm-*
/new_project
/datasets/
.cache/
.vscode/
.idea/

