/Time-LLM/checkpoints/
/Time-LLM/dataset/
/Time-LLM/slurm-*
/Time-LLM-BERT/checkpoints/
/Time-LLM-BERT/dataset/
/Time-LLM-BERT/slurm-*
/Time-LLM-BERT/data/
/Time-LLM-new/checkpoints/
/Time-LLM-new/dataset/
/Time-LLM-new/slurm-*
/CALF/slurm-*
/CALF/checkpoints/
/CALF_copy/slurm-*
/CALF_copy/checkpoints/
/new_CALF/slurm-*
/new_CALF/checkpoints/
/new_CALF/data/
/llm4ir/slurm-*
/S2IP-LLM/slurm-*
/S2IP-LLM/Irregular_Classification/checkpoints
.idea/

